    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Services</h1>
        </div>
        <div class="row"><br><br>
          <div class="span3" style="border-bottom:thin solid silver; text-align:center">
            <h3>Super Markets</h3>
          </div>
          <div class="span3 offset1" style="border-bottom:thin solid silver; text-align:center">
            <h3>Residential</h3>
          </div>
	  <div class="span3 offset1" style="border-bottom:thin solid silver; text-align:center">
	    <h3>EMS Systems</h3>
	  </div>
	  <div class="span3 offset1" style="border-bottom:thin solid silver; text-align:center">
	    <h3>Air Conditioning</h3>
	  </div>
        </div>
	<div class="row">
	  <div class="span4"><br>
	    <ul>
	      <li>Self Contain Units</li>
	      <li>Refrigerated Cases</li>
	      <li>Walk In Coolers</li>
	      <li>Walk In Freezers</li>
	      <li>Drive In Freezers</li>
	      <li>Blast Coolers</li>
	      <li>Blast Freezers</li>
	    </ul>
	  </div>
	  <div class="span4"><br>
	    <ul>
	      <li>Home Refrigerators</li>
	      <li>Built In Refrigerators</li>
	      <li>Wine Cellars</li>
	      <li>A/C Units</li>
	      <li>Heating</li>
	    </ul>
	  </div>

	  <div class="span4"><br>
	    <ul>
	      <li>blah</li>
	      <li>blah</li>
	      <li>blah</li>
	      <li>blah</li>
	    </ul>
	  </div>

	  <div class="span4"><br>
	    <ul>
	      <li>A/C Split Systems</li>
	      <li>A/C Package Units</li>
	      <li>A/C Heat Pumps</li>
	      <li>A/C Built Up Systems</li>
	    </ul>
	  </div>	     
	</div>
	
	<div style="margin-left: 120px;">
	  <br><br><br><img src="/assets/louie1.jpg" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>
      </div>

      <footer>
        <p>&copy; Kodiak Mechanical, License# 945588</p>
      </footer>

    </div> <!-- /container -->
