    <div class="container">
        <div class="page-header">
          <h1>Services</h1>
        </div>
      <div class="row"><br>
          <div class="span3" style="border-bottom:thin solid silver; text-align:center">
            <h3>Commercial</h3>
          </div>
          <div class="span3" style="border-bottom:thin solid silver; text-align:center">
            <h3>Restaurants</h3>
          </div>
          <div class="span3" style="border-bottom:thin solid silver; text-align:center">
            <h3>Residential</h3>
          </div>
	  <div class="span3" style="border-bottom:thin solid silver; text-align:center">
	    <h3>EMS Systems</h3>
	  </div>
	  <div class="span3" style="border-bottom:thin solid silver; text-align:center">
	    <h3>Air Conditioning</h3>
	  </div>
        </div>
	<div class="row">
	  <div class="span3"><br>
	    <ul>
	      <li>SuperMarkets</li>
	      <li>Self Contained Units</li>
	      <li>Refrigerated Cases</li>
	      <li>Walk In Coolers</li>
	      <li>Walk In Freezers</li>
	      <li>Drive In Coolers</li>
	      <li>Drive In Freezers</li>
	      <li>Blast Coolers</li>
	      <li>Blast Freezers</li>
	      <li>One on One Systems</li>
	      <li>Multiplex Racks</li>
	      <li>Cascade Systems</li>
	      <li> Two Stage Systems</li>
	      <li> Chillers </li>
	      <li> Heating Ventilating and Air Conditioning </li>
	    </ul>
	  </div>
	  <div class="span3"><br>
	    <ul>
	      <li>Exhaust Fan Motors</li>
	      <li>Swamp Coolers</li>
	      <li>Refrigeration</li>
	      <li>HVAC</li>
	    </ul>
	  </div>
	  <div class="span3"><br>
	    <ul>
	      <li>Home Refrigerators</li>
	      <li>Built In Refrigerators</li>
	      <li>Wine Cellars</li>
	      <li>A/C Units</li>
	      <li>Heating</li>
	    </ul>
	  </div>

	  <div class="span3"><br>
	    <ul>
	      <li>Comtrol</li>
	      <li>Danfoss</li>
	      <li>CPC</li>
	    </ul>
	  </div>

	  <div class="span3"><br>
	    <ul>
	      <li> Heating Ventilating and Air Conditioning </li>
	      <li>A/C Split Systems</li>
	      <li>A/C Package Units</li>
	      <li>A/C Heat Pumps</li>
	      <li>A/C Built Up Systems</li>
	    </ul>
	  </div>	     
	</div>
	<div id="carousel" class="carousel" style="margin-left:120px; margin-top: 30px;">

  <div class="carousel-inner">
    
         <div class="item">

	  <img src="/assets/phone355h.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>
	
	 <div class="item active">
	  <img src="/assets/LO8h.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>
		
        <div class="item">
	   <img src="/assets/photo-1.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>

	        <div class="item">
	   <img src="/assets/photo-2.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>

   </div>

  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" style="margin-right:120px;" href="#carousel" data-slide="next">&rsaquo;</a>

</div>

<script>
  $('.carousel').carousel({
  interval: 2000
})
</script>

</div>

      <footer style="margin-left: 100px; margin-right: 100px;">
        <p>&copy; Kodiak Mechanical, Inc. - License# 945588</p>
      </footer>
  </div> <!-- /container -->
