   <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Contact</h1>
        </div>

	<div class="row">
	  <div class="span6">
	    <h3 style= "color: #0000CD;"> Available: 24 Hours 7 days/week<br>Phone: (310)707-5713<br>
	    Email: kodiakmechanical@gmail.com <br> P.O. Box 555<br> Lomita, CA 90717<br><br></h3>
	  </div>
	  </div>
	  <div class="span6" style="float: right; margin-top: -200px"><img src="/assets/market_refrig.jpg" alt="kodiak mechanical" style="width: 300px; height: 400px; position: relative; left: 12px;" /> </div>


        <div class="row">
          <div class="span8">
	 <div id="wufoo-z7x3k1">
Fill out my <a href="http://kodiakmechanical.wufoo.com/forms/z7x3k1">online form</a>.
</div>
<script type="text/javascript">var z7x3k1;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'kodiakmechanical', 
'formHash':'z7x3k1', 
'autoResize':true,
'height':'597',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3k1 = new WufooForm();z7x3k1.initialize(options);z7x3k1.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
        </div>

          </div>

        </div>
      </div>

      <footer>
        <p>&copy; Kodiak Mechanical, License# 945588 </p>
      </footer>

    </div> <!-- /container --
