 n <div class="container">
    <div class="hero-unit" style="margin-right: 100px; background: #fff; margin-left: 120px; padding: 10px;">

<div id="carousel" class="carousel">

  <div class="carousel-inner">
    
         <div class="item">

	  <img src="/assets/louie3.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>
	
	 <div class="item active">
	  <img src="/assets/LOU22h.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>
		
        <div class="item">
	   <img src="/assets/louie1.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>

	        <div class="item">
	   <img src="/assets/louie4.gif" alt="kodiak mechanical" style="width: 650px; height: 300px; position: relative; left: 12px;" />
	</div>

   </div>

  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>

</div>

<script>
  $('.carousel').carousel({
  interval: 2000
})
</script>

</div>
     <div class="row" style="margin-right: 80px; margin-left: 120px;">
        <div class="span8" style="padding-left: 0px;">
          <h2>Refrigeration & Air Conditioning</h2>
          <p> We are a family owned business with over 20 years of experience. We specialize in Commercial Refrigeration and HVAC  (Supermarkets, Pharmaceutical Plants, Food Processing Plants, Food Warehouses). We service Golf Courses, Restaurants Refrigeration equipment and HVAC. As well as Residential Refrigeration and HVAC. Our technicians provide superior services throughout Los Angeles and Orange County Areas. 
	  <br><br>
	  Kodiak Mechanical, Inc. specializes in Repairs, Installation and Maintenance of Refrigeration and HVAC systems. No matter how large or small your business or residence, we have the right solution.</p>
        </div>
        <div class="span4">
          <h2>Contact</h2>
           <p style="color: blue;">Phone: (310) 707 - 5713 <br> Fax: (310) 522 - 4262<br> Email: kodiakmechanical@gmail.com <br> Available: 24/7/365 <br><br> P.O. Box # 941 <br> Lomita, CA 90717</p><br>
	   <img src="/assets/bbb.jpg" alt="kodiak mechanical" style="width: 150px; height: 100px; position: relative; left: 12px;" />
       </div>
     </div>
      <footer>
        <p>&copy; Kodiak Mechanical, Inc. - License# 945588 </p>
      </footer>
  </div>
</body>
</html>




